NuGet Packets
Nhibernate
Fluent Nhibernate
System.Data.SQLite x86/x64
Nunit adapter + framework
Log4net
Managed Wi-Fi 1.1.0
Hardcodet.Wpf.TaskbarNotification 1.0.4.0 (aka WPF NotifyIcon)

References to add (just in case)
System.Configuration
System.Data
System.Data.SQLite

Useful Extension
Resharper
NuGet